html {
  background: url(img/background.jpg) no-repeat center fixed;
  background-size: cover;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  width: 600px;
  margin: auto;
  border: 5px solid black;
  background-color: rgb(206, 255, 247);
  padding: 15px;
  border-radius: 8px;
}

button {
  padding: 8px;
  font-family: "Prompt", sans-serif;
  border-radius: 8px;
  background-color: rgb(175, 246, 255);
}

button:hover {
  cursor: pointer;
  background-color: white;
  font-weight: 500;
}

span {
  margin-left: 20px;
}
